.contacts {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.text-section {
  display: flex;
  flex-direction: column;
  color: #806868;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: 23px 0 23px 25px
}

.name-section {
  opacity: .5;
  margin-bottom: 5px;
}

.links {
  font-size: 9px;
  letter-spacing: 2px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}

.img-section {
  padding: 0 25px 25px 25px;
}

.text {
  display: block;
  font-size: 9px;
  letter-spacing: 2px;
  width: 250px;
  margin-bottom: 23px;
  font-family: 'Oswald', sans-serif;
}

.img {
  background: url("../../../../img/contactimg.jpg") center no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
}

@media only screen and (min-width: 720px) {
  .img {
    width: 350px;
    height: 350px;
  }

  .text {
    font-size: 13px;
    width: 350px;
  }

  .links {
    font-size: 13px;
  }
}
