<div class="box">
  <div class="contacts">
    <div class="text-section">
      <span class="name-section">Contacts</span>
      <span class="links">links: </span>
    </div>

    <div class="img-section">
      <span class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nulla itudin aliquam ultrices. Amet nulla mauris rhoncus aenean vel elit scelerisque mauris.
      </span>
      <div class="img anim"></div>
    </div>
  </div>
</div>
