<div class="box">
  <div class="text-section">
    <span class="name-section">Team</span>
    <span class="description-section">We cooperate with:</span>
  </div>

  <div class="team">
    <div class="person">
      <div class="header-person">
        <div class="img-person-first"></div>
        <div class="info-person">
          <ul class="person-list">
            <li class="list-item"><span class="first-span">Name: </span><span class="second-span">James Block</span></li>
            <li class="list-item"><span class="first-span">Specialty: </span><span class="second-span">Photographer</span></li>
            <li class="list-item"><span class="first-span">Links: </span></li>
          </ul>
        </div>
      </div>
      <div class="footer-person">
        <span class="text-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nulla posuere sollicitudin aliquam ultrices. Amet nulla facilisi morbi tempus. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris.</span>
      </div>
    </div>

    <div class="person">
      <div class="header-person">
        <div class="img-person-second"></div>
        <div class="info-person">
          <ul class="person-list">
            <li class="list-item"><span class="first-span">Name: </span><span class="second-span">Andrew Hard</span></li>
            <li class="list-item"><span class="first-span">Specialty: </span><span class="second-span">Videographer</span></li>
            <li class="list-item"><span class="first-span">Links: </span></li>
          </ul>
        </div>
      </div>
      <div class="footer-person">
        <span class="text-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nulla posuere sollicitudin aliquam ultrices. Amet nulla facilisi morbi tempus. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris.</span>
      </div>
    </div></div>
</div>
