.text-section {
  display: flex;
  flex-direction: column;
  color: #806868;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: 23px 0 23px 0px
}

.name-section {
  opacity: .5;
}

/****************PERSON*******************/
.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
}

.header-person {
  display: flex;
  flex-direction: row;
}

.img-person {
  height: 100px;
  width: 100px;
}

.first {
  background: url("../../../../img/team1.jpg") center no-repeat;
  background-size: cover;
}

.second {
  background: url("../../../../img/team2.jpg") center no-repeat;
  background-size: cover;
}

.info-person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.person-list {
  padding: 0;
  margin: 0;
}

.list-item {
  list-style: none;
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.first-span {
  opacity: .5;
}

.second-span {
  color: #806868;
}

.footer-person {
  margin-top: 10px;
}

.text-footer {
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

/***************MEDIA*********************/
@media only screen and (min-width: 720px) {

  /*****************TEAM********************/
  .person {
    width: 350px;
  }

  .text-footer {
    font-size: 13px;
  }

  .img-person {
    width: 125px;
    height: 125px;
  }

  .info-person {
    width: 225px;
  }

  .list-item {
    font-size: 13px;
  }
}
