.text-section {
  display: flex;
  flex-direction: column;
  color: #806868;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: 23px 0 23px 0px
}

.name-section {
  opacity: .5;
}

.project {
  margin: 15px;
}

.project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wedding {
  background: url("../../../../img/project.jpg") center no-repeat;
  background-size: cover;
}

.advertising-project {
  background: url("../../../../img/advertisingpicture.jpg") center no-repeat;
  background-size: cover;
}

.furniture-project {
  background: url("../../../../img/furniturepictire.jpg") center no-repeat;
  background-size: cover;
}
