<div class="nav-box">
  <ul class="navbar-main-box">
    <li class="navbar-item">
      <a href=""
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      ><span>main</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href=""
         routerLink="/projects"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      ><span>projects</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href=""
         routerLink="/team"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      ><span>team</span></a>
    </li>
    <li class="navbar-item">
      <a href=""
         routerLink="/contacts"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      ><span>contacts</span></a>
    </li>
  </ul>
</div>
