.nav-box{
  background-color: #161717;
  width: 60px;
  height: 100vh;
  position: absolute;
  float: left;
  transition: 1s;
}

a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
}

ul > li {
  list-style: none;
  height: 100%;
}

ul > li > a > span {
  transform: rotate(-90deg);
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-main-box {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.nav-menu-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  z-index: 1;
  transition: 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-menu-block > span {
  transform: rotate(-90deg);
  color: black;
}

.active-nav-menu-block {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

