<div class="box">
  <div class="image-box">
    <div class="black-box"></div>
    <div class="text-info">
      <span class="text">vice <br> versa <br> video <br></span>
      <span class="description-text">create your own video</span>
      <button class="links-btn"><a href="">follow us</a></button>
    </div>
  </div>

  <div class="section">
    <div class="text-section">
      <span class="name-section">Portfolio</span>
      <span class="description-section">Recent Project</span>
    </div>
    <div class="project">
      <div class="img-project">
        <div class="description-project">
          <div class="text-project">
            <span class="text-project-span">Category:</span>
            <span class="text-project-span span-sup">Wedding</span>
          </div>
          <div class="text-project">
            <span class="text-project-span">Duration:</span>
            <span class="text-project-span span-sup">2:24</span>
          </div>
          <div class="text-project">
            <span class="text-project-span">Photographer:</span>
            <span class="text-project-span span-sup">link</span>
          </div>
          <div class="text-project">
            <span class="text-project-span">Videographer:</span>
            <span class="text-project-span span-sup">link</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
