.box {
  /*width: 100%;*/
  align-items: normal;
}

.image-box {
  position: relative;
  background: url("../../../../img/mainimg.jpg") center;
  background-size: cover;
  height: 50vh;
}

.black-box {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.text-info {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.text {
  font-family: Onyx;
  font-size: 34px;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.description-text {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #806868;
  margin: 26px 0;
  letter-spacing: 2px;
}

.links-btn {
  border: none;
  outline: none;
  background-color: #1C2125;
  padding: 0;
  width: 123px;
  height: 20px;
  letter-spacing: 2px;
}

.links-btn > a {
  display: block;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 7px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  color: #806868;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: 23px 0 23px 0;
}

.name-section {
  opacity: .5;
}

.main-project-img {
  background: url("../../../../img/project.jpg") center no-repeat;
  background-size: cover;
}


@media only screen and (min-width: 720px) {
  /***************MAIN********************/

  .text-size {
    font-size: 54px;
  }
  .description-text {
    font-size: 19px;
  }

  .text-info {
    padding-left: 70px;
  }

  .links-btn a {
    font-size: 11px;
  }
  .links-btn {
    width: 150px;
    height: 31px;
  }
}

@media only screen and (min-width: 1280px) {

  .box {
    flex-direction: row;
  }

  .image-box {
    width: 50vw;
    height: 100vh;
  }

  .section {
    justify-content: center;
    width: 50vw;
  }
}

