/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
}

app-nav-bar {
  position: fixed;
}

.box {
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.img-project {
  height: 250px;
  width: 250px;
  position: relative;
}

.description-project {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 25px;
}

.text-project {
  display: flex;
  flex-direction: row;
}

.text-project-span {
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  opacity: .5;
  font-weight: lighter;
}

.span-sup {
  color: #806868;
  margin-left: 5px;
}

/*********TABLET************/
@media only screen and (min-width: 720px) {

  /*.box {*/
  /*  margin-left: 90px;*/
  /*}*/

  .text-section {
    font-size: 26px;
  }

  /*****************PROJECTS**********************/
  .img-project {
    width: 350px;
    height: 350px;
  }

  .text-project-span {
    font-size: 13px;
  }

  .description-project {
    height: 100px;
  }

}
